<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"level":1,"fontSize":"x-large"} -->
<h1 class="wp-block-heading has-x-large-font-size">404</h1>
<!-- /wp:heading -->
<!-- wp:paragraph --><p>페이지를 찾을 수 없어. 홈으로 돌아가.</p><!-- /wp:paragraph -->
<!-- wp:search {"label":"","buttonText":"검색"} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
